@import "tailwindcss";
@import "@nuxt/ui";

html,
body {
  background-color: #fff;
}

html.dark,
html.dark body {
  background-color: #000;
}

/* (intentionally no custom scrollbar utilities right now) */